.config/akonadi/*
.config/awesome/lain/*
.config/awesome/lain.old/*
.config/BraveSoftware/*
.config/discord/*
.config/dmscripts/*
.config/GIMP/*
.config/goverlay/*
.config/JetBrains/*
.config/libreoffice/*
.config/lutris/*
.config/menus/*
.config/mpv/watch_later/*
.config/nvim/plugged/*
.config/OpenGOAL/*
.config/OpenGOAL-Launcher/*
.config/OpenRGB/*
.config/PCSX2/*
.config/puddletag/*
.config/rpcs3/*
.config/satisfactory-mod-manager-gui/*
.config/Signal/*
.config/spotify/*
.config/StardewValley/*
.config/steamtinkerlaunch/*
.config/transmission-daemon/*
.config/UMS/data/*
.config/UMS/database/*
.config/unity3d/*
.config/VirtualBox/*
