.config/akonadi/*
.config/discord/*
.config/awesome/lain/*
.config/awesome/lain.old/*
.config/unity3d/*
.config/libreoffice/*
.config/lutris/*
.config/menus/*
.config/PCSX2/*
.config/StardewValley/*
.config/goverlay/*
.config/dmscripts/*
.config/GIMP/*
.config/JetBrains/*
.config/OpenGOAL-Launcher/*
.config/transmission-daemon/*
.config/Signal/*
.config/spotify/*

