# Game Save Backups
#
# Configuration file for my game backup script.
# All comments and blank lines will be ignored by the script.
#
# Format is as follows:
# First line is game's title
# Second line is pc save location
# Third line is backup save location

# 1964 GEPD
title="1964 GEPD"
pc="/home/jake/Games/1964/save"
backup="/mnt/x/game-stuff/emulation/N64/1964/saves"

# Batman Arkham City
title="Batman Arkham City"
pc="/home/jake/.steam/steam/userdata/12131775/200260/remote"
backup="/mnt/x/game-stuff/game-collection/Batman Arkham City/saves"

# Dead Space
#title="Dead Space"
#pc="/mnt/s/SteamLibrary/steamapps/compatdata/17470/pfx/drive_c/users/steamuser/Documents/Electronic Arts/Dead Space"
#backup="/mnt/x/game-stuff/game-collection/Dead Space Series/Dead Space/Saves"

# Dead Space 2
#title="Dead Space 2"
#pc="/mnt/s/SteamLibrary/steamapps/compatdata/47780/pfx/drive_c/users/steamuser/Documents/EA Games/Dead Space 2"
#backup="/mnt/x/game-stuff/game-collection/Dead Space Series/Dead Space 2/Saves"

# Dead Space 3
#title="Dead Space 3"
#pc=""
#backup="/mnt/x/game-stuff/game-collection/Dead Space Series/Dead Space 3/Saves"

# E.Y.E. Divine Cybermancy
title="EYE Divine Cybermancy"
pc="/home/jake/.local/share/wineprefixes/eye/drive_c/users/steamuser/Documents/streumon/eye/Save"
backup="/mnt/x/game-stuff/game-collection/E.Y.E. Divine Cybermancy/saves"

# Factorio
title="Factorio"
pc="/home/jake/.factorio"
backup="/mnt/x/game-stuff/game-collection/Factorio/saves"

# Final Fantasy VII
title="Final Fantasy VII"
pc="/mnt/s/SteamLibrary/steamapps/common/FF7_SYW_Unified/Mods/Gameplay/00-Vanilla/save"
backup="/mnt/x/game-stuff/game-collection/Final Fantasy VII/saves"

# Grand Theft Auto III
title="Grand Theft Auto III"
pc="/mnt/s/SteamLibrary/steamapps/common/Grand Theft Auto 3/userfiles"
backup="/mnt/x/game-stuff/game-collection/Grand Theft Auto Series/Grand Theft Auto III/saves"

# Grand Theft Auto Vice City
title="Grand Theft Auto Vice City"
pc="/mnt/s/SteamLibrary/steamapps/common/Grand Theft Auto Vice City/userfiles"
backup="/mnt/x/game-stuff/game-collection/Grand Theft Auto Series/Grand Theft Auto Vice City/saves"

# Grand Theft Auto San Andreas
title="Grand Theft Auto San Andreas"
pc="/mnt/s/SteamLibrary/steamapps/common/Grand Theft Auto San Andreas/userfiles"
backup="/mnt/x/game-stuff/game-collection/Grand Theft Auto Series/Grand Theft Auto San Andreas/saves"

# Grand Theft IV
#title="Grand Theft Auto IV"
#pc="/mnt/s/SteamLibrary/steamapps/compatdata/12210/pfx/drive_c/users/steamuser/Documents/Rockstar Games/GTA IV"
#backup="/mnt/x/game-stuff/game-collection/Grand Theft Auto Series/Grand Theft Auto IV/saves"

# Grand Theft V
title="Grand Theft Auto V"
pc="/mnt/s/SteamLibrary/steamapps/compatdata/271590/pfx/drive_c/users/steamuser/Documents/Rockstar Games/GTA V"
backup="/mnt/x/game-stuff/game-collection/Grand Theft Auto Series/Grand Theft Auto V/saves"

# GTA V Trainer Settings
title="Grand Theft Auto V Trainer Settings"
pc="/mnt/s/SteamLibrary/steamapps/compatdata/271590/pfx/drive_c/users/steamuser/AppData/Roaming/GTAV Enhanced Native Trainer"
backup="/mnt/x/game-stuff/game-collection/Grand Theft Auto Series/Grand Theft Auto V/trainer-settings"

# Grim Dawn
#
# There are two locations for Grim Dawn's saves, one for Steam cloud storage, the other is local storage.
# Choose only one depending on your in-game settings.
#
title="Grim Dawn"
# Steam cloud location.
pc="/home/jake/.local/share/Steam/userdata/12131775/219990/remote"
# Steam local location.
#pc="/mnt/s/SteamLibrary/steamapps/compatdata/219990/pfx/drive_c/users/steamuser/Documents/My Games/Grim Dawn"
backup="/mnt/x/game-stuff/game-collection/Grim Dawn/saves"

# Jak and Daxter
title="Jak and Daxter Open-GOAL"
pc="/home/jake/.config/OpenGOAL"
backup="/mnt/x/game-stuff/game-collection/Jak and Daxter/saves"

# Legend of Zelda: Ocarina of Time
title="Legend of Zelda: Ocarina of Time"
pc="/home/jake/.local/share/soh/Save"
backup="/mnt/x/game-stuff/game-collection/Legend of Zelda/Ocarina of Time/saves"

# Lunacid
title="Lunacid"
pc="/mnt/s/SteamLibrary/steamapps/common/Lunacid/LUNACID_Data/*.MIDNIGHT"
backup="/mnt/x/game-stuff/game-collection/Lunacid/saves"

# Perfect Dark PC
title="Perfect Dark"
pc="/home/jake/.local/share/perfectdark"
backup="/mnt/x/game-stuff/game-collection/Perfect Dark/saves"

# Manhunt
title="Manhunt"
pc="/mnt/s/SteamLibrary/steamapps/compatdata/12130/pfx/drive_c/users/steamuser/Documents/Manhunt User Files"
backup="/mnt/x/game-stuff/game-collection/Manhunt Series/Manhunt/saves"

# Mass Effect 1
title="Mass Effect 1"
pc="/home/jake/.local/share/wineprefixes/mass-effect/drive_c/users/steamuser/Documents/BioWare/Mass Effect Legendary Edition/Save/ME1"
backup="/mnt/x/game-stuff/game-collection/Mass Effect Series/Mass Effect 1/saves"

# Mass Effect 2
#title="Mass Effect 2"
#pc="/home/jake/.local/share/wineprefixes/mass-effect/drive_c/users/steamuser/Documents/BioWare/Mass Effect Legendary Edition/Save/ME2"
#backup="/mnt/x/game-stuff/game-collection/Mass Effect Series/Mass Effect 2/saves"

# Mass Effect 3
#title="Mass Effect 3"
#pc="/home/jake/.local/share/wineprefixes/mass-effect/drive_c/users/steamuser/Documents/BioWare/Mass Effect Legendary Edition/Save/ME3"
#backup="/mnt/x/game-stuff/game-collection/Mass Effect Series/Mass Effect 3/saves"

# Max Payne
#title="Max Payne"
#pc="/mnt/s/SteamLibrary/steamapps/common/Max Payne/savegames"
#backup="/mnt/x/game-stuff/game-collection/Max Payne Series/Max Payne/saves"

# Max Payne 2
#title="Max Payne 2"
#pc=""
#backup="/mnt/x/game-stuff/game-collection/Max Payne Series/Max Payne 2/saves"

# Nox
title="Nox"
pc="/home/jake/Games/nox/Save"
backup="/mnt/x/game-stuff/game-collection/Nox/saves"

# Persona 4 Golden
title="Persona 4 Golden"
pc="/home/jake/.steam/steam/userdata/12131775/1113000/remote"
backup="/mnt/x/game-stuff/game-collection/Persona Series/Persona 4/saves"

# Silent Hill 2
title="Silent Hill 2"
pc="/mnt/s/games/silent-hill-2/data/save"
backup="/mnt/x/game-stuff/game-collection/Silent Hill Series/Silent Hill 2/saves"

# Silent Hill 3
title="Silent Hill 3"
pc="/home/jake/Games/silent-hill-3/drive_c/Program Files/KONAMI/SILENT HILL 3/savedata"
backup="/mnt/x/game-stuff/game-collection/Silent Hill Series/Silent Hill 3/saves"

# Stalker Anomaly
title="Stalker Anomaly"
pc="/mnt/s/games/anomaly/appdata/savedgames"
backup="/mnt/x/game-stuff/game-collection/Stalker Series/Stalker - Anomaly [Mod]/saves"

# Star Wars: Dark Forces
title="Star Wars Dark Forces"
pc="/home/jake/.local/share/TheForceEngine/Saves/Dark Forces"
backup="/mnt/x/game-stuff/game-collection/Star Wars/Dark Forces/saves"

# Star Wars: Dark Forces II
title="Star Wars Dark Forces II"
pc="/home/jake/.local/share/OpenJKDF2/openjkdf2/player"
backup="/mnt/x/game-stuff/game-collection/Star Wars/Dark Forces II/saves"

# Super Mario 64
title="Super Mario 64"
pc="/home/jake/.local/share/sm64ex"
backup="/mnt/x/game-stuff/game-collection/Super Mario 64/saves"

# Swat 4: Elite Force
title="Swat 4 - Elite Force"
pc="/mnt/s/games/swat4/SEF/System/Campaign.ini"
backup="/mnt/x/game-stuff/game-collection/Swat 4/saves/elite-force"

# Valheim
title="Valheim"
pc="/home/jake/.steam/steam/userdata/12131775/892970/remote"
backup="/mnt/x/game-stuff/game-collection/Valheim/saves"

# Vampire the Masquerade Bloodlines
title="Vampire the Masquerade - Bloodlines"
pc="/mnt/s/SteamLibrary/steamapps/common/Vampire The Masquerade - Bloodlines/Unofficial_Patch/save"
backup="/mnt/x/game-stuff/game-collection/Vampire the Masquerade - Bloodlines/saves"
