#DEFAULT OPTIONS
[OPTIONS]
player=spotify
source=google
alignment=left
interval=1500
autoswitch=on
# autoswitch can be set to on/off

# mpd config
mpd_host=127.0.0.1
mpd_port=6600
mpd_pass= <mpd server password here>

[BINDINGS]
#scroll
up=arrow_up
down=arrow_down
step-up=arrow_left
step-down=arrow_right
step-size=5

#source switch key
# deprecated since v1.7.0 in favor of cycle source
google=R
azLyrics=r

cycle-source=c

#text alignment
left=j
center=k
right=l

autoswitchtoggle=a
edit=e

find=/
find-next=n
find-prev=p

delete=d
help=h
quit=q
